{% extends 'base.html' %}
{% block content %}
<h2 class="mb-4">Admins</h2>
<a href="{% url 'admin_create' %}" class="btn btn-primary mb-3">Create Admin</a>

<form method="get" class="row g-3 mb-4">
    <div class="col-md-3">
        <input type="text" name="username" class="form-control" placeholder="Filter by Username" value="{{ request.GET.username }}">
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-outline-primary w-100">Filter</button>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for admin in admins %}
        {% if not request.GET.username or admin.username|lower == request.GET.username|lower %}
        <tr>
            <td>{{ admin.username }}</td>
            <td>{{ admin.email }}</td>
            <td>
                                <a href="{% url 'admin_update' admin.pk %}" class="btn btn-sm btn-warning">Edit</a>
                                {% if not admin.is_superuser and not admin.groups.all.0.name == 'SuperAdmin' %}
                                    <a href="{% url 'admin_delete' admin.pk %}" class="btn btn-sm btn-danger">Delete</a>
                                    <form action="{% url 'admin_promote_demote' admin.pk 'demote' %}" method="post" style="display:inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-sm btn-info">Demote to User</button>
                                    </form>
                                {% else %}
                                    <span class="badge bg-secondary">SuperAdmin</span>
                                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}