{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h2>Delete Admin</h2>
    </div>
    <div class="card-body">
                <p>Are you sure you want to delete "{{ object.username }}"?</p>
                {% if object.is_superuser or object.groups.all.0.name == 'SuperAdmin' %}
                    <div class="alert alert-danger">You cannot delete the superuser or a SuperAdmin.</div>
                    <a href="{% url 'admin_list' %}" class="btn btn-secondary">Back</a>
                {% else %}
                    <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <a href="{% url 'admin_list' %}" class="btn btn-secondary">Cancel</a>
                    </form>
                {% endif %}
    </div>
</div>
{% endblock %}